# Gmail SMTP (create App Password: Google Account → Security → App passwords)
GMAIL_USER=your.email@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
#url to get gmail app passord from your account: https://myaccount.google.com/apppasswords

# Optional default recipient if not chosen in UI
# GMAIL_DEFAULT_TO=someone@example.com
